<div style="padding: 25px;">
    <h3>PLEASE LOG IN</h3>
    <p><b>If you don't have an account yet, you can create it here:</b>

    <a href="/signup"> SIGN UP</a></p>

    <form method="POST" action="/login">
        <b>USERNAME:</b> <input type="text" name=user[username]>
        <b>PASSWORD:</b> <input type="password" name=user[password]>
        <input class="btn pink waves-effect waves-light" type="submit" value="Log in">
    </form>
</div>