<div style="padding: 25px;">
    <h2>GLAD YOU'RE HERE!</h2>
    <h6>PLEASE FILL OUT THE FORM BELOW</h6>

    <p>If you already have an account, visit <a href='/login' >LOG IN</a><p>

    <form method="POST" action="/signup">
        <b>USERNAME:</b><input type="text" name=user[username]>
        <b>PASSWORD:</b> <input type="password" name=user[password]>
        <input class="btn pink waves-effect waves-light" type="submit" value="Sign Up">
    </form>
</div>