<h2>Glad you're here! Please fill out the form!</h2>
<p>If you already have an account, visit <a href='/login' >Log In</a><p>

<form method="POST" action="/signup">
Username: <input type="text" name=user[username]>
Password: <input type="password" name=user[password]>
<input type="submit" value="Sign Up">
</form>