<h2> Are you sure you want to delete your account?</h2>
<form action="/user/<%= current_user.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete My account">
</form>