<h2><a href="/users/<%=current_user.id%>">Your mentions</a></h2>
<% @users.each do |user| %>
<% if user.id != current_user.id %>
<b><a href="/users/<%=user.id%>"><%= user.username %></a></b><br><br>
<% end %>
<% end %>

<hr>
<a href="/user/delete">Delete your account</a>
