<h2><a href="/users/<%=current_user.id%>">Your mentions</a></h2>
<% @users.each do |u| %>
<% if u.id != current_user.id %>
<b><a href="/users/<%=u.id%>"><%= u.username %></a></b><br><br>
<% end %>
<% end %>
