<div style="padding: 25px;">
    <h4>EDIT EVENT</h4> 
    <br>

    <form action="/events/<%= @event.id %>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <b>TITLE: <input type="text" name=event[title] value="<%= @event.title %>"><br>
        DATE: <input type="text" name=event[date] value="<%= @event.date %>" ><br>
        DESCRIPTION: <input type="text" name=event[description] value="<%= @event.description %>"><br></b>
        
        <input class="btn-small pink waves-effect waves-light" type="submit" value="Update this Event">
    </form>
</div>