<div style="padding: 25px;">
<h2>CREATE A NEW EVENT</h2>
<form method="POST" action="/events">
<b>TITLE:</b> <input type="text" name=event[title]><br>
<b>DATE:</b> <input type="text" name=event[date]><br>
<b>DESCRIPTION OF THE EVENT:</b> <input type="text" name=event[description]><br>
<input class="btn-small pink waves-effect waves-light" type="submit" value="Create Event">
</form>
</div>




