<h2>Detailed info about the chosen event</h2> 
<b><%= @event.title %></b><br><br>
Date: <%= @event.date %><br>
Description: <%= @event.description %><br>
<br>
<form action="/event/<%= @event.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete this Event">
</form>

