
<h1 style="color:deeppink;" class="center-align"> WELCOME TO<br><b> MyPlacesToGo</b> </h1>

<div style="padding: 350px; padding-top: 50px">
<div class="center-align grey" style="padding-top: 50px; padding-bottom:50px;">
<a href="/login" class="waves-effect waves-light pink lighten-1 btn-large"><i class="material-icons right">login</i>Log In</a>
</div>
  
<div class="center-align grey" style="padding-bottom: 50px;">
<a href="/signup" class="waves-effect waves-light pink accent-1 btn-large center-align"><i class="material-icons right">person_add_alt_1</i>Sign Up</a>
</div>
</div>

